/** @format */

@font-face {
  font-family: "GothamNarrowBook";
  src: url("./assets/fonts/GothamNarrowBook.ttf") format("truetype");
}

body {
  background-image: url("./assets/images/tobias-jussen-sek9ckKRbTo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;

  font-family: GothamNarrowBook, sans-serif;
}

body:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
}

@media only screen and (max-width: 600px) {
  body {
    background-position: -200px 0px;
  }
}
